<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Cadastre-se</ui:define>

	<ui:define name="conteudo">
		<h1>Cadastre-se</h1>
		
		<p>Preencha seus dados abaixo para se cadastrar no simulador.</p>
		
		<h:form id="formCadastro">
		
			<p>Nome: <h:inputText id="nome" value="#{controladorCadastro.hospede.nome}" size="30" /></p>
			
			<p>Data de Nascimento: 
				<h:inputText id="dataNascimento" value="#{controladorCadastro.hospede.dataNascimento}" size="10">
					<f:convertDateTime pattern="dd/MM/yyyy" />				
				</h:inputText>
			</p>
					
			<p>E-mail: <h:inputText id="email" value="#{controladorCadastro.hospede.email}" size="20" /></p>
			
			<p>Senha: <h:inputSecret id="senha" value="#{controladorCadastro.hospede.senha}" size="20" /></p>
			
			<p><h:commandButton action="#{controladorCadastro.cadastrar}" value="Cadastrar" /></p>
		</h:form>
		
	</ui:define>
	
</ui:composition>
