<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Cadastre-se</ui:define>

	<ui:define name="conteudo">
		<h1>Cadastre-se</h1>
		
		<p>Prezado(a) <h:outputText value="#{controladorCadastro.hospede.nome}" />, infelizmente somente maiores de idade podem cadastrar-se no JavAlbergue. 
		De acordo com sua data de nascimento, você possui apenas <h:outputText value="#{controladorCadastro.idade}" /> anos.</p>
	</ui:define>
</ui:composition>
