<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
                
	<ui:define name="titulo">Bem-vindo</ui:define>

	<ui:define name="conteudo">
	
		<h1>Bem-vindo ao SIMULADOR WEB</h1>
		
		<p>----------------------------------------------------------------------</p>
		<p>----------------------------------------------------------------------</p>
		<p>----------------------------------------------------------------------</p>
		<p>----------------------------------------------------------------------</p>
		
	
	</ui:define>
	
</ui:composition>
