<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Reserva</ui:define>

	<ui:define name="conteudo">
		<h1>Reserve uma Cama!</h1>
		
		<h:form>
			<p>Passo 3: escolha as camas que deseja reservar para o período de  
				<h:outputText value="#{controladorReserva.checkin}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText> a
				<h:outputText value="#{controladorReserva.checkout}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>
				e clique no botão &quot;Reservar&quot;.</p>
	
			<h:selectManyCheckbox value="#{controladorReserva.idsCamas}" layout="pageDirection">
				<f:selectItems value="#{controladorReserva.camasDisponiveis}" var="cama" itemValue="#{cama.id}" itemLabel="Quarto #{cama.quarto.numero}, cama #{cama.numero} (#{cama.precoFormatado} por noite)" />
			</h:selectManyCheckbox>
			<p><h:commandButton action="#{controladorReserva.reservar}" value="Reservar" /></p>
		</h:form>
	</ui:define>
</ui:composition>
