<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Reserva</ui:define>

	<ui:define name="conteudo">
		<h1>Reserve uma Cama!</h1>
		
		<h:form>
			<p>Reserva feita com sucesso:</p>
			
			<ul>
				<li>Check-in: <h:outputText value="#{controladorReserva.checkin}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText></li>
				<li>Check-out: <h:outputText value="#{controladorReserva.checkout}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText></li>
				<li>Camas:</li>
			</ul>
			
			<center>
			<h:dataTable value="#{controladorReserva.camasReservadas}" var="cama">
				<h:column><h:outputText value="Quarto #{cama.quarto.numero}, cama #{cama.numero}" /></h:column>
			</h:dataTable>
			</center>
		</h:form>
	</ui:define>
</ui:composition>
