<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Reserva</ui:define>

	<ui:define name="conteudo">
		<h1>Reserve uma Cama!</h1>
		
		<h:panelGroup rendered="#{empty controladorReserva.quartosCadastrados}">
			<p>Ainda não foram cadastrados quartos. Entre como administrador e cadastre-os!</p>
		</h:panelGroup>

		<h:form>
			<p>Passo 1: escolha o período que deseja se hospedar no JavAlbergue:</p>
			
			<h:panelGroup rendered="#{not empty controladorReserva.quartosCadastrados}">
				<p>Check-In: <h:inputText id="checkin" value="#{controladorReserva.checkin}" size="10" required="true">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText> (dd/mm/aaaa)</p>
				<p>Check-Out: <h:inputText id="checkout" value="#{controladorReserva.checkout}" size="10" required="true">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText> (dd/mm/aaaa)</p>
				<p><h:commandButton action="#{controladorReserva.verDisponibilidade}" value="Ver Disponibilidade" /></p>
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>
