<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Reserva</ui:define>

	<ui:define name="conteudo">
		<h1>Reserve uma Cama!</h1>
		
		<h:form>
			<p>Passo 2: os quartos com camas disponíveis no período de 
				<h:outputText value="#{controladorReserva.checkin}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText> a
				<h:outputText value="#{controladorReserva.checkout}"><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>
				encontram-se abaixo. Escolha ao menos um deles e clique no botão &quot;Prosseguir&quot;.</p>
	
			<h:selectManyCheckbox value="#{controladorReserva.idsQuartos}" layout="pageDirection">
				<f:selectItems value="#{controladorReserva.resultado}" var="result" itemValue="#{result.idQuarto}" itemLabel="Quarto #{result.numQuarto} (#{result.numCamasDisponiveis} de #{result.numCamasTotal} camas disponíveis)" />
			</h:selectManyCheckbox>
			<p><h:commandButton action="#{controladorReserva.prosseguir}" value="Prosseguir" /></p>
		</h:form>
	</ui:define>
</ui:composition>
