<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/arquivos/decorador.xhtml">
	<ui:define name="titulo">Cadastro de quartos</ui:define>

	<ui:define name="conteudo">
		<h1>Quartos Cadastrados</h1>
		
		<h:panelGroup rendered="#{empty controladorAdmin.quartosCadastrados}">
			<p>Não há quartos cadastrados. Utilize o fomulário abaixo para cadastrar um quarto.</p>
		</h:panelGroup>

		<h:panelGroup rendered="#{not empty controladorAdmin.quartosCadastrados}">
			<h:dataTable value="#{controladorAdmin.quartosCadastrados}" var="quarto">
				<h:column>
					<f:facet name="header">Numero</f:facet>
					<h:outputText value="#{quarto.numero}" />
				</h:column>
				<h:column>
					<f:facet name="header">Número de camas</f:facet>
					<h:outputText value="#{quarto.numCamas}" />
				</h:column>
			</h:dataTable>
		</h:panelGroup>
		
		<p>&nbsp;</p>
		
		<hr width="80%" align="center" />
		
		<h1>Cadastrar novo quarto</h1>

		<h:form id="formCadastro">
			<p>Numero: <h:inputText id="numero" value="#{controladorAdmin.quarto.numero}" size="10" required="true" /></p>
			<p><h:commandButton action="#{controladorAdmin.cadastrarQuarto()}" value="Cadastrar" /></p>
		</h:form>
		
		<p>&nbsp;</p>
		
		<hr width="80%" align="center" />
		
		<h1>Cadastrar nova cama</h1>

		<h:form id="formCadastroQuarto">
			<p>Quarto: <h:selectOneMenu id="quarto" value="#{controladorAdmin.idQuarto}" required="true">
				<f:selectItems value="#{controladorAdmin.quartosCadastrados}" var="quarto" itemLabel="Quarto #{quarto.numero}" itemValue="#{quarto.id}" />
			</h:selectOneMenu></p>
			<p>Numero: <h:inputText id="numero" value="#{controladorAdmin.cama.numero}" size="10" required="true" /></p>
			<p>Preço por noite: R$ <h:inputText id="precoNoite" value="#{controladorAdmin.cama.precoNoite}" size="10" required="true" /></p>
			<p><h:commandButton action="#{controladorAdmin.cadastrarCama}" value="Cadastrar" /></p>
		</h:form>
	</ui:define>
</ui:composition>
