<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="#{facesContext.externalContext.requestContextPath}/arquivos/templatemo_style.css" rel="stylesheet" type="text/css" media="screen" />
		<title><h:outputText value="Simulador Web- " />
		
			<ui:insert name="titulo" />
		
		</title>
	</h:head>

	<h:body>
		<!-- Free Website Template by www.TemplateMo.com -->
		<div id="templatemo_container">
			<div id="templatemo_header">
				<div id="website_title">
					<div id="title">SIMULADOR WEB</div>
					<div id="salgon">Aplicação de exemplo Java EE 6 Web Profile</div>
				</div>
			</div>
			
			<div id="templatemo_banner">
				<div id="templatemo_menu">
					<ul>
					<li><a href="#{facesContext.externalContext.requestContextPath}/">Home</a></li>
					
					<li><a href="#{facesContext.externalContext.requestContextPath}/faces/cadastro/index.xhtml">
							<h:outputText value="Cadastre-se"  	rendered="#{not controladorCadastro.usuarioLogado}" 	/>
							<h:outputText value="Meu Cadastro" 	rendered="#{controladorCadastro.usuarioLogado}" 		/>
						</a>
					</li>
					<h:panelGroup rendered="#{controladorCadastro.usuarioLogado}">
						<li>
						<h:form>
							<h:commandLink value="Reservar" action="#{controladorReserva.iniciar}" />
						</h:form>
						</li>
					</h:panelGroup>
					
					<li><a href="http://disi.unitn.it/~vitorsouza/">Site do Autor</a></li>
					<li><a href="http://www.javamagazine.com.br" class="last">Java Magazine</a></li>
					</ul> 
				</div>    
			</div>
			<!--CONTEUDO -->
			<div id="templatemo_content"><!--conteudo esquerdo -->
				<div id="content_left">
					<div class="content_left_section">
						<h:panelGroup rendered="#{not controladorCadastro.usuarioLogado}">
							<div class="content_title_01">Login</div>
							<h:form id="formLogin">
								<h:message for="formLogin" />
								<p>E-mail: <h:inputText id="email" value="#{controladorCadastro.hospede.email}" size="15" /></p>
								<p>Senha: <h:inputSecret id="senha" value="#{controladorCadastro.hospede.senha}" size="15" /></p>
								<p><h:commandButton action="#{controladorCadastro.login}" value="Login" /></p>
							</h:form>
						</h:panelGroup>
						<h:panelGroup rendered="#{controladorCadastro.usuarioLogado}">
							<div class="content_title_01">Sessão de Uso</div>
							<p>Hóspede: <h:outputText value="#{controladorCadastro.hospede.nome}" /></p>
							<h:form id="formLogout">
								<p><h:commandButton action="#{controladorCadastro.logout}" value="Logout" /></p>
							</h:form>
							<h:panelGroup rendered="#{controladorCadastro.hospede.admin}">
								<hr /><p>Você é o administrador do sistema e pode
								<a href="#{facesContext.externalContext.requestContextPath}/faces/admin/index.xhtml">cadastrar quartos</a>.</p>
							</h:panelGroup>
						</h:panelGroup>
						<div class="cleaner">&nbsp;</div>
					</div>
					<div class="cleaner_h30">&nbsp;</div>
				</div> <!--fim conteudo esquerdo -->
				
				<div id="content_right"><!--conteudo direito principal -->
					<div class="content_right_section">
					
						<ui:insert name="conteudo">Conteúdo não especificado...</ui:insert>
					
					</div>                    
					<div class="cleaner_h20">&nbsp;</div>
				</div>
				<div class="cleaner">&nbsp;</div>
			</div>
			<!-- fim  conteudo -->
			<!-- footer -->
			<div id="templatemo_footer"> <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
				<div style="clear: both; margin-top: 10px;">                
					<a href="http://validator.w3.org/check?uri=referer">
					<img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
					<a href="http://jigsaw.w3.org/css-validator/check/referer">
					<img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
				</div> 
			</div>
		</div>
	</h:body>
</html>
